<div ng-include="'app_header.html'"></div>
<div ui-view="content_view" class='content_section' ng-show='!is_content_loading'>

</div>

<div class='content_section text-center loader_screen' ng-show='is_content_loading'>
  <img src='/assets/img/loader.gif' />
  <div class='text-center'>Loading....</div>

</div>


<!-- footer -->
<!-- <div class="navbar navbar-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <footer role="contentinfo">
                    <p class="left">Hirarky Solutions Private Limited</p>
                    <p class="right">&copy; {{ year }} <a href="http://www.hirarky.com/" target="_blank">www.hirarky.com</a></p>
                </footer>
            </div>
        </div>
    </div>
</div> -->
<div class="navbar navbar-footer" style="padding-left: 40px; padding-right: 40px;">
    <footer role="contentinfo">
        
        <p class="right">&copy; {{ year }} <a href="http://www.hirarky.com/" target="_blank">www.hirarky.com</a></p>
    </footer>
</div>
