<div ng-controller="OpTabController">

  <!-- <ul class="nav nav-pills nav-fill container-fluid" style="background-color: #e6e6e6">
      <li  id="tab1" ng-class='current_tab==1?"active":""' ng-click='$state.go("app.pred.capital.capital_centre")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Working Capital by Centre</b></a>
      </li>
      <li id="tab2" ng-class='current_tab==2?"active":""' ng-click='$state.go("app.pred.capital.dso")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>DSO</b></a>
      </li>
      <li  id="tab3" ng-class='current_tab==3?"active":""' ng-click='$state.go("app.pred.capital.dpo")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>DPO</b></a>
      </li>
      <li  id="tab4" ng-class='current_tab==4?"active":""' ng-click='$state.go("app.pred.capital.inventory")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>DIO</b></a>
      </li>
  </ul> -->
</div>
