<!-- <div ng-controller="OpTabController">

  <ul class="nav nav-pills nav-fill container-fluid" style="background-color: #e6e6e6">
      <li style="width: 400px; margin-left: 350px;" id="tab1" ng-click='$state.go("app.pred.cashflow.analysis")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Cash Flow Analysis</b></a>
      </li>
      <li style="width: 400px;" id="tab2" ng-click='$state.go("app.pred.cashflow.observations")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Observations</b></a>
      </li>
  </ul>
</div>


<script type="text/javascript">
$(document).ready(function(){
$("#tab1").addClass('active');
  
  $('#tab2').on('click',function(){
    $('#tab1').removeClass('active');
    $(this).addClass('active');
  });
  $('#tab1').on('click',function(){
    $('#tab2').removeClass('active');
    $(this).addClass('active');
  });
});
</script> -->