<div class="panel panel-default" >
    <div class="modal-header">
        <h3>Change Password <span class="extra-title muted"></span></h3>
    </div>
    <div class="panel-body">
        <div class="row col-lg-3"></div>
        <div class="row col-lg-5  form-horizontal">
          <div class="form-group">
              <label for="pwd">Current Password</label> <span style='color:red;'>*</span>  <span style='color:red; float:right'  ng-show='current_err.length > 0'>{{ current_err }} </span>
              <input type="password" class="form-control" id="pwd" ng-model="data.current_password">
          </div>
          <div class="form-group">
              <label for="pwd">New Password </label>

                <span style='color:red;'>*</span>
                <span style='color:red; float:right'  ng-show='new_password_err.length > 0'>{{ new_password_err }} </span>
              <input type="password" class="form-control" id="pwd" ng-model="data.new_password">
          </div>
          <div class="form-group">
              <label for="pwd">Confirm Password</label>
              <span style='color:red;'>*</span>
              <span style='color:red; float:right'  ng-show='confirm_password_err.length > 0'>{{ confirm_password_err }} </span>
              <span style='color:red; float:right'  ng-show='not_match_password_err.length > 0'>{{ not_match_password_err }} </span>
              <input type="password" class="form-control" id="pwd" ng-model="data.confirm_password">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="display update pull-left">
            <span class="text-danger" style='float:left' ng-show='error_msg.length > 0'> <h3> {{ error_msg }} </h3> </span>
            <span class="text-success" style='float:left;color:green'  ng-show='success_msg.length > 0'> <h3>{{ success_msg }} </h3> </span>
          </div>
        </div>
        <div class="col-sm-5 pull-right">

            <div class="form-group">
                <button ng-click="changePassword()" class="btn btn-primary" id="password_modal_save">Save changes</button>
            </div>
        </div>
    </div>

</div>
