<div class="panel panel-default">
      <div class="panel-heading">
          <div class="text-muted bootstrap-admin-box-title"></div>

        </div>
        <div class="bootstrap-admin-panel-content">
          <div class='filetr_cat' style="font-size: 85%">
            <div class='row'>
             <div class="col-lg-10">
              <div class='col-lg-2'>
                <div class='form-group'>
                  <label>Categorised By</label>
                  <select class='form-control' ng-model='cate_id' ng-change='categories_by()'>
                    <option value='Hospital'>Hospital</option>
                    <option value='Department'>Department</option>
                    <option value='Doctor'>Doctors</option>
                  </select>
                </div>
              </div>
              <div class='col-lg-2'>
                <div class='form-group'>
                  <div class="col-lg-3 text-right">
                    <button class='btn btn-default' style="margin:30px auto;" data-toggle='modal' data-target='#addFilters'>Add Filters</button>
                  </div>
                </div>
              </div>
              <div class='col-lg-4'>
                <div class='form-group text-center'>
                  <label style="margin-right: 60px;">Period</label>
                  <div class="row">
                  <div class="col-lg-4">
                  <select class='form-control'>
                    <!-- <option value="" disabled selected hidden>Select</option> -->
                    <option value='April,15'>Apr 15</option>
                    <option value='MAY,15'>May 15</option>
                    <option value='June,15'>Jun 15</option>
                    <option value='July,15'>Jul 15</option>
                    <option value='August,15'>Aug 15</option>
                    <option value='September,15'>Sep 15</option>
                    <option value='october,15'>Oct 15</option>
                    <option value='November,15'>Nov 15</option>
                    <option value='December,15'>Dec 15</option>
                    <option value='january,16'>Jan 16</option>
                    <option value='February,16'>Feb 16</option>
                    <option value='March,16'>Mar 16</option>
                    <option value='April,16'>Apr 16</option>
                    <option value='May,16'>May 16</option>
                    <option value='June,16'>Jun 16</option>
                    <option value='July,16'>Jul 16</option>
                    <option value='August,16'>Aug 16</option>
                    <option value='September,16'>Sep 16</option>
                    <option value='Ocyober,16'>Oct 16</option>
                    <option value='November,16'>Nov 16</option>
                    <option value='December,16'>Dec 16</option>
                    <option value='januarynuary,17'>Jan 17</option>
                    <option value='February,17'>Feb 17</option>
                    <option value='March,17'>Mar 17</option>
                  </select>
                  </div>
                  <div class="col-lg-2 text-center" >
                    <label>To</label>
                  </div>
                  <div class="col-lg-4" style="margin-right: 40px;">
                  <select class='form-control'>
                    <option value="" disabled selected hidden>Mar 17</option>
                    <option value='April,15'>Apr 15</option>
                    <option value='MAY,15'>May 15</option>
                    <option value='June,15'>Jun 15</option>
                    <option value='July,15'>Jul 15</option>
                    <option value='August,15'>Aug 15</option>
                    <option value='September,15'>Sep 15</option>
                    <option value='october,15'>Oct 15</option>
                    <option value='November,15'>Nov 15</option>
                    <option value='December,15'>Dec 15</option>
                    <option value='january,16'>Jan 16</option>
                    <option value='February,16'>Feb 16</option>
                    <option value='March,16'>Mar 16</option>
                    <option value='April,16'>Apr 16</option>
                    <option value='May,16'>May 16</option>
                    <option value='June,16'>Jun 16</option>
                    <option value='July,16'>Jul 16</option>
                    <option value='August,16'>Aug 16</option>
                    <option value='September,16'>Sep 16</option>
                    <option value='Ocyober,16'>Oct 16</option>
                    <option value='November,16'>Nov 16</option>
                    <option value='December,16'>Dec 16</option>
                    <option value='januarynuary,17'>Jan 17</option>
                    <option value='February,17'>Feb 17</option>
                    <option value='March,17'>Mar 17</option>
                  </select>
                  </div>
                  </div>
                </div>
              </div>
              <div class='col-lg-2' style="margin-right: 150px;">
                <div class='form-group text-center'>
                  <label>Frequency</label>
                  <select class='form-control'>
                    <option value=''>Monthly</option>
                    <option value=''>Quarterly</option>
                    <option value=''>Half-yearly</option>
                    <option value=''>Annually</option>
                  </select>
                </div>
              </div>
             </div>
              <div class='col-lg-2'>
                <div class='form-group'>
                  <div class="col-lg-3 text-right">
                    <button type="button" class="btn btn-primary" style="margin: 30px auto;width: 150px;"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="bootstrap-admin-panel-content">
        <div class='text-center'>
        <!-- <div class="row">
         <!-- <div class="col-md-8">
          <canvas id="volumeBottom" width="700" height="240" style="margin:0px auto;">
          </canvas>
         </div> -->
         <!-- <div class="col-md-4"></div>
         <div class="col-md-4">
          <canvas id="volumeTop" width="300" height="220" style="margin:0px auto;">
          </canvas>
         </div>
         <div class="col-md-4"></div>
        </div> -->
        </div>
        <!-- <scrollable-table columncount=9 tabledata='cate_volume'> -->
          <table class="table table-bordered">
            <thead >
              <tr style="background-color: #4bc0c0;">
               <th rowspan="2" fixed style="width:10%; color: white;">Hospital</th>
               <th rowspan="2" fixed style="color: white;">Department</th>
               <th rowspan="2" fixed style="color: white;">Doctors</th>
               <th colspan="3" style="color: white; text-align: center;">Revenue</th>
               <th colspan="3" style="color: white; text-align: center;">Fixed</th>
               <th colspan="3" style="color: white; text-align: center;">Variable</th>
               <th colspan="3" style="color: white; text-align: center;">Total</th>
               <!-- <th rowspan="2" style="color: white; text-align: center;">Percentage</th> -->
              </tr>
              <tr>
               <th style="color: white; text-align: right;">FY14</th>
               <th style="color: white; text-align: right;">FY15</th>
               <th style="color: white; text-align: right;">FY16</th>
               <th style="color: white; text-align: right;">FY14</th>
               <th style="color: white; text-align: right;">FY15</th>
               <th style="color: white; text-align: right;">FY16</th>
               <th style="color: white; text-align: right;">FY14</th>
               <th style="color: white; text-align: right;">FY15</th>
               <th style="color: white; text-align: right;">FY16</th>
               <th style="color: white; text-align: right;">FY14</th>
               <th style="color: white; text-align: right;">FY15</th>
               <th style="color: white; text-align: right;">FY16</th>          
              </tr>
            </thead>
            <tbody ng-repeat='(k,items) in cate_volume'>
              <tr ng-repeat='values1 in items' index='{{ index}}' ng-click='expand(k)' consolidated ng-show='!values1.is_regular'>
                <th colspan=3 fixed style="background-color: #F5F5DC;">{{ values1.name }}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.FY14_rev | currency:"":1}}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.FY15_rev | currency:"":1}}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.FY16_rev | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY14_fix | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY15_fix | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY16_fix | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY14_var | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY15_var | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY16_var | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY14_tot | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY15_tot | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY16_tot | currency:"":1}}</th>
                <!-- <th style="text-align: right;background-color: #F5F5DC;">{{values1.FY16 | currency:"":0}}</th> -->
              </tr>
              <tr ng-repeat='values1 in items' index='{{ index}}'  ng-show='values1.is_regular && expanded[k]'>
                <td fixed>{{values1.Hospital}}</td>
                <td fixed>{{values1.Department}}</td>
                <td fixed>{{values1.Doctor}}</td>
                <td style="text-align: right;">{{values1.FY14_rev}}</td>
                <td style="text-align: right;">{{values1.FY15_rev}}</td>
                <td style="text-align: right;">{{values1.FY16_rev}}</td>
                <td style="text-align: right;">{{values1.FY14_fix}}</td>
                <td style="text-align: right;">{{values1.FY15_fix}}</td>
                <td style="text-align: right;">{{values1.FY16_fix}}</td>
                <td style="text-align: right;">{{values1.FY14_var}}</td>
                <td style="text-align: right;">{{values1.FY15_var}}</td>
                <td style="text-align: right;">{{values1.FY16_var}}</td>
                <td style="text-align: right;">{{values1.FY14_tot}}</td>
                <td style="text-align: right;">{{values1.FY15_tot}}</td>
                <td style="text-align: right;">{{values1.FY16_tot}}</td>
                <!-- <td style="text-align: right;"></td> -->
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th colspan=3 fixed style="background-color: #F5F5DC;">Total</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{ cate_volume | total_count:"FY14_rev" | currency:"":1}}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{cate_volume | total_count:"FY15_rev" | currency:"":1}}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{cate_volume | total_count:"FY16_rev" | currency:"":1}}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{cate_volume | total_count:"FY14_fix" | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{cate_volume | total_count:"FY15_fix" | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{cate_volume | total_count:"FY16_fix" | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{cate_volume | total_count:"FY14_var" | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{cate_volume | total_count:"FY15_var" | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{cate_volume | total_count:"FY16_var" | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{cate_volume | total_count:"FY14_tot" | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{cate_volume | total_count:"FY15_tot" | currency:"":1}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{cate_volume | total_count:"FY16_tot" | currency:"":1}}</th>
                <!-- <th style="text-align: right;background-color: #F5F5DC;">-</th> -->
              </tr>
            </tbody>
      </div>
</div>

<div class="modal fade" id="addFilters" role="dialog">
  <div class="modal-dialog" style="width: 600px;">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select Filters</h4>
      </div>
      <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class='filetr_cat'>
            <div class='row'>
              <div class='col-lg-4'>
                <div class='form-group'>
                  <label>Hospital</label>
                  <select class='form-control' ng-model='hospital_id' ng-change='categories_by()'>
                    <option value=''>All</option>
                    <option value='Hospital 1'>Hospital 1</option>
                    <option value='Hospital 2'>Hospital 2</option>
                    <option value='Hospital 3'>Hospital 3</option>
                  </select>
                </div>
              </div>
              <div class='col-lg-4'>
                <div class='form-group'>
                  <label>Department</label>
                  <select class='form-control' ng-model='department_id' ng-change='categories_by()'>
                    <option value=''>All</option>
                    <option value='Cardiology'>Cardiology</option>
                    <option value='Orthopaedics'>Orthopaedic Surgery</option>
                    <option value='General Medicine'>General Medicine</option>
                    <option value='Nephrology'>Nephrology</option>
                  </select>
                </div>
              </div>
              <div class='col-lg-4'>
                <div class='form-group'>
                  <label>Doctors</label>
                  <select class='form-control' ng-model='doctor_id' ng-change='categories_by()'>
                    <option value=''>All</option>
                    <option value="Doctor 1">Doctor 1</option>
                    <option value="Doctor 2">Doctor 2</option>
                    <option value="Doctor 3">Doctor 3</option>
                    <option value="Doctor 4">Doctor 4</option>
                    <option value="Doctor 5">Doctor 5</option>
                    <option value="Doctor 6">Doctor 6</option>
                    <option value="Doctor 7">Doctor 7</option>
                    <option value="Doctor 8">Doctor 8</option>
                    <option value="Doctor 9">Doctor 9</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click='categories_by()'>Filter</button>
          <button type="submit" class="btn btn-default" ng-click='resetDropDown()'>Clear Filters</button>
      </div>
    </div>
  </div>
</div>
