<div ng-controller="OpTabController">

  <!-- <ul class="nav nav-pills nav-fill container-fluid" style="background-color: #e6e6e6">
      <li id="tab1" ng-class='current_tab==1?"active":""' ng-click='$state.go("app.pred.cost1.consumption")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Consumption Pattern</b></a>
      </li>
      <li  id="tab2" ng-class='current_tab==2?"active":""' ng-click='$state.go("app.pred.cost1.arc")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>ACOP & ACIP</b></a>
      </li>
      <li  id="tab3" ng-class='current_tab==3?"active":""' ng-click='$state.go("app.pred.cost1.arcob")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>ACOB</b></a>
      </li>
  </ul> -->
</div>
