<div ng-controller="OpTabController">

  <!-- <ul class="nav nav-pills nav-fill container-fluid" style="background-color: #e6e6e6"> -->
      <!-- <li  id="tab1" ng-class='current_tab==1?"active":""' ng-click='$state.go("app.pred.ebitda.ebitda_page")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>EBITDA Summary</b></a>
      </li>
      <li  id="tab2" ng-class='current_tab==2?"active":""' ng-click='$state.go("app.pred.ebitda.ebitda_bed")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>EBITDA per Occupied Bed</b></a>
      </li>
      <li  id="tab3" ng-class='current_tab==3?"active":""' ng-click='$state.go("app.pred.ebitda.ebitda_stream")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>EBITDA per Patient</b></a>
      </li> -->
      <!-- <li style="width: 300px;" id="tab4" ng-click='$state.go("app.pred.ebitda.ebitda_dept")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>EBITDA Department</b></a>
      </li> -->
  <!-- </ul> -->
</div>
