<div class="modal fade" id="expenseType" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Type</h4>
        </div>
        <div class="modal-body expense_type">
              <div class='choose_expense_type'>
                <ul>
                  <li ng-click='expense_type("Service")'>
                    <span>Service Expense</span>
                  </li>
                  <li ng-click='expense_type("Purchase")'>
                    <span>Purchase Expense</span>
                  </li>
                </ul>
              </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
