<div class="panel panel-default">
      <div class="panel-heading">
          <div class="text-muted bootstrap-admin-box-title">Gross margin by hospital/department</div>
          
        </div>
        <div class="bootstrap-admin-panel-content">
          <div class='filetr_cat'>
            <div class='row'>
              <div class='col-lg-2'>
                <div class='form-group'>
                  <label>Categorised By</label>
                  <select class='form-control' ng-model='cate_id' ng-change='categories_by()'>
                    <option value='Hospital'>Hospital</option>
                    <option value='Department'>Department</option>
                  </select>
                </div>
              </div>
              <div class='col-lg-2'>
                <div class='form-group'>
                  <div class="col-lg-3 text-right">
                    <button class='btn btn-default' style="margin:30px;" data-toggle='modal' data-target='#addFilters'>Add Filters</button>
                  </div>
                </div>
              </div>
              <div class='col-lg-4'>
                <div class='form-group'>
                  <label>Period</label>
                  <div class="row">
                  <div class="col-lg-5">
                  <select class='form-control'>
                    <option value="" disabled selected hidden>Select</option>
                    <option value='April,2015'>APR 2015</option>
                    <option value='MAY,2015'>MAY 2015</option>
                    <option value='June,2015'>JUN 2015</option>
                    <option value='July,2015'>JUL 2015</option>
                    <option value='August,2015'>AUG 2015</option>
                    <option value='September,2015'>SEP 2015</option>
                    <option value='october,2015'>OCT 2015</option>
                    <option value='November,2015'>NOV 2015</option>
                    <option value='December,2015'>DEC 2015</option>
                    <option value='january,2016'>JAN 2016</option>
                    <option value='February,2016'>FEB 2016</option>
                    <option value='March,2016'>MAR 2016</option>
                    <option value='April,2016'>APR 2016</option>
                    <option value='May,2016'>MAY 2016</option>
                    <option value='June,2016'>JUN 2016</option>
                    <option value='July,2016'>JUL 2016</option>
                    <option value='August,2016'>AUG 2016</option>
                    <option value='September,2016'>SEP 2016</option>
                    <option value='Ocyober,2016'>OCT 2016</option>
                    <option value='November,2016'>NOV 2016</option>
                    <option value='December,2016'>DEC 2016</option>
                    <option value='januarynuary,2017'>JAN 2017</option>
                    <option value='February,2017'>FEB 2017</option>
                    <option value='March,2017'>MAR 2017</option>
                  </select>
                  </div>
                  <div class="col-lg-2 text-center">
                    <label>To</label>
                  </div>
                  <div class="col-lg-5">
                  <select class='form-control'>
                    <option value="" disabled selected hidden>Select</option>
                    <option value='April,2015'>APR 2015</option>
                    <option value='MAY,2015'>MAY 2015</option>
                    <option value='June,2015'>JUN 2015</option>
                    <option value='July,2015'>JUL 2015</option>
                    <option value='August,2015'>AUG 2015</option>
                    <option value='September,2015'>SEP 2015</option>
                    <option value='october,2015'>OCT 2015</option>
                    <option value='November,2015'>NOV 2015</option>
                    <option value='December,2015'>DEC 2015</option>
                    <option value='january,2016'>JAN 2016</option>
                    <option value='February,2016'>FEB 2016</option>
                    <option value='March,2016'>MAR 2016</option>
                    <option value='April,2016'>APR 2016</option>
                    <option value='May,2016'>MAY 2016</option>
                    <option value='June,2016'>JUN 2016</option>
                    <option value='July,2016'>JUL 2016</option>
                    <option value='August,2016'>AUG 2016</option>
                    <option value='September,2016'>SEP 2016</option>
                    <option value='Ocyober,2016'>OCT 2016</option>
                    <option value='November,2016'>NOV 2016</option>
                    <option value='December,2016'>DEC 2016</option>
                    <option value='januarynuary,2017'>JAN 2017</option>
                    <option value='February,2017'>FEB 2017</option>
                    <option value='March,2017'>MAR 2017</option>
                  </select>
                  </div>
                  </div>
                </div>
              </div>
              <div class='col-lg-2'>
                <div class='form-group'>
                  <label>Frequency</label>
                  <select class='form-control'>
                    <option value=''>Monthly</option>
                    <option value=''>Quarterly</option>
                    <option value=''>Half-yearly</option>
                    <option value=''>Annually</option>
                  </select>
                </div>
              </div>
              <div class='col-lg-2'>
                <div class='form-group'>
                  <div class="col-lg-3 text-right">
                    <button type="button" class="btn btn-primary" style="margin: 30px;"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      <div class="bootstrap-admin-panel-content">
        <div class='text-center'>
        <div class="row">
         <div class="col-md-8">
          <canvas id="volumeBottom" width="700" height="300" style="margin:0px auto;">
          </canvas>
         </div>
         <div class="col-md-4">
          <canvas id="volumeTop" width="300" height="300" style="margin:0px auto;">
          </canvas>
         </div>
        </div>
        </div>
        <scrollable-table columncount=9 tabledata='cate_volume'>
          <table class="table table-bordered">
            <thead >
              <tr style="background-color: #4bc0c0;">
               <th fixed style="width:10%">Hospital</th>
               <th fixed>Department</th>
               <th>Apr-15</th>
               <th>May-15</th>
               <th>Jun-15</th>
               <th>Jul-15</th>
               <th>Aug-15</th>
               <th>Sept-15</th>
               <th>Oct-15</th>
               <th>Nov-15</th>
               <th>Dec-15</th>
               <th>Jan-16</th>
               <th>Feb-16</th>
               <th>Mar-16</th>
               <th>Apr-16</th>
               <th>May-16</th>
               <th>Jun-16</th>
               <th>Jul-16</th>
               <th>Aug-16</th>
               <th>Sep-16</th>
               <th>Oct-16</th>
               <th>Nov-16</th>
               <th>Dec-16</th>
               <th>Jan-17</th>
               <th>Feb-17</th>
               <th>Mar-17</th>
               <th>Total</th>
              </tr>
            </thead>
            <tbody ng-repeat='(k,items) in cate_volume'>
              <tr ng-repeat='values1 in items' index='{{ index}}' ng-click='expand(k)' consolidated ng-show='!values1.is_regular'>
                <th colspan=2 fixed style="background-color: #F5F5DC;">Total ({{ values1.name }})</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.Apr_15 | currency:"":0}}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.May_15 | currency:"":0}}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.Jun_15 | currency:"":0}}</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.Jul_15 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Aug_15 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Sep_15 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Oct_15 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Nov_15 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Dec_15 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Jan_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Feb_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Mar_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Apr_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.May_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Jun_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Jul_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Aug_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Sep_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Oct_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Nov_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Dec_16 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Jan_17 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;" >{{values1.Feb_17 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Mar_17 | currency:"":0}}</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1 | rowtotal | currency:"":0}}</th>
              </tr>
              <tr ng-repeat='values1 in items' index='{{ index}}'  ng-show='values1.is_regular && expanded[k]'>
                <td fixed>{{values1.Hospital}}</td>
                <td fixed>{{values1.Department}}</td>
                <td style="text-align: right;">{{values1.Apr_15}}</td>
                <td style="text-align: right;">{{values1.May_15}}</td>
                <td style="text-align: right;">{{values1.Jun_15}}</td>
                <td style="text-align: right;">{{values1.Jul_15}}</td>
                <td style="text-align: right;">{{values1.Aug_15}}</td>
                <td style="text-align: right;" ng-class='values1.Sep_15_exp'>{{values1.Sep_15}}</td>
                <td style="text-align: right;" ng-class='values1.Oct_15_exp'>{{values1.Oct_15}}</td>
                <td style="text-align: right;">{{values1.Nov_15}}</td>
                <td style="text-align: right;">{{values1.Dec_15}}</td>
                <td style="text-align: right;">{{values1.Jan_16}}</td>
                <td style="text-align: right;">{{values1.Feb_16}}</td>
                <td style="text-align: right;" >{{values1.Mar_16}}</td>
                <td style="text-align: right;">{{values1.Apr_16}}</td>
                <td style="text-align: right;">{{values1.May_16}}</td>
                <td style="text-align: right;" ng-class='values1.Jun_16_exp'>{{values1.Jun_16}}</td>
                <td style="text-align: right;">{{values1.Jul_16}}</td>
                <td style="text-align: right;">{{values1.Aug_16}}</td>
                <td style="text-align: right;" ng-class='values1.Sep_16_exp'>{{values1.Sep_16}}</td>
                <td style="text-align: right;">{{values1.Oct_16}}</td>
                <td style="text-align: right;">{{values1.Nov_16}}</td>
                <td style="text-align: right;">{{values1.Dec_16}}</td>
                <td style="text-align: right;">{{values1.Jan_17}}</td>
                <td style="text-align: right;">{{values1.Feb_17}}</td>
                <td style="text-align: right;">{{values1.Mar_17}}</td>
                <td style="text-align: right;">{{values1 | rowtotal | currency:"":0 }}</td>
              </tr>
            </tbody>
          </table>
        </scrollable-table>

        <br/>
        <br/>
        <scrollable-table columncount=9 tabledata='cate_volume'>
          <table class="table table-bordered">
            <thead >
              <tr style="background-color: #4bc0c0;">
               <th fixed style="width:10%">Hospital</th>
               <th fixed>Department</th>
               <th>Apr-15</th>
               <th>May-15</th>
               <th>Jun-15</th>
               <th>Jul-15</th>
               <th>Aug-15</th>
               <th>Sept-15</th>
               <th>Oct-15</th>
               <th>Nov-15</th>
               <th>Dec-15</th>
               <th>Jan-16</th>
               <th>Feb-16</th>
               <th>Mar-16</th>
               <th>Apr-16</th>
               <th>May-16</th>
               <th>Jun-16</th>
               <th>Jul-16</th>
               <th>Aug-16</th>
               <th>Sep-16</th>
               <th>Oct-16</th>
               <th>Nov-16</th>
               <th>Dec-16</th>
               <th>Jan-17</th>
               <th>Feb-17</th>
               <th>Mar-17</th>
              </tr>
            </thead>
            <tbody ng-repeat='(k,items) in cate_volume'>
              <tr ng-repeat='values1 in items' index='{{ index}}' ng-click='expand_2(k)' consolidated ng-show='!values1.is_regular'>
                <th colspan=2 fixed style="background-color: #F5F5DC;">Total ({{ values1.name }})</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.Apr_15_g | currency:"":0}}%</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.May_15_g | currency:"":0}}%</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.Jun_15_g | currency:"":0}}%</th>
                <th style="text-align: right; background-color: #F5F5DC;">{{values1.Jul_15_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Aug_15_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Sep_15_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Oct_15_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Nov_15_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Dec_15_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Jan_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Feb_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Mar_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Apr_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.May_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Jun_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Jul_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Aug_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Sep_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Oct_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Nov_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Dec_16_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Jan_17_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;" >{{values1.Feb_17_g | currency:"":0}}%</th>
                <th style="text-align: right;background-color: #F5F5DC;">{{values1.Mar_17_g | currency:"":0}}%</th>
              </tr>
              <tr ng-repeat='values1 in items' index='{{ index}}'  ng-show='values1.is_regular && expanded_2[k]'>
                <td fixed>{{values1.Hospital}}</td>
                <td fixed>{{values1.Department}}</td>
                <td style="text-align: right;">{{values1.Apr_15_g}}%</td>
                <td style="text-align: right;">{{values1.May_15_g}}%</td>
                <td style="text-align: right;">{{values1.Jun_15_g}}%</td>
                <td style="text-align: right;">{{values1.Jul_15_g}}%</td>
                <td style="text-align: right;">{{values1.Aug_15_g}}%</td>
                <td style="text-align: right;" ng-class='values1.Sep_15_exp'>{{values1.Sep_15_g}}%</td>
                <td style="text-align: right;" ng-class='values1.Oct_15_exp'>{{values1.Oct_15_g}}%</td>
                <td style="text-align: right;">{{values1.Nov_15_g}}%</td>
                <td style="text-align: right;">{{values1.Dec_15_g}}%</td>
                <td style="text-align: right;">{{values1.Jan_16_g}}%</td>
                <td style="text-align: right;">{{values1.Feb_16_g}}%</td>
                <td style="text-align: right;" >{{values1.Mar_16_g}}%</td>
                <td style="text-align: right;">{{values1.Apr_16_g}}%</td>
                <td style="text-align: right;">{{values1.May_16_g}}%</td>
                <td style="text-align: right;" ng-class='values1.Jun_16_exp'>{{values1.Jun_16_g}}%</td>
                <td style="text-align: right;">{{values1.Jul_16_g}}%</td>
                <td style="text-align: right;">{{values1.Aug_16_g}}%</td>
                <td style="text-align: right;" ng-class='values1.Sep_16_exp'>{{values1.Sep_16_g}}%</td>
                <td style="text-align: right;">{{values1.Oct_16_g}}%</td>
                <td style="text-align: right;">{{values1.Nov_16_g}}%</td>
                <td style="text-align: right;">{{values1.Dec_16_g}}%</td>
                <td style="text-align: right;">{{values1.Jan_17_g}}%</td>
                <td style="text-align: right;">{{values1.Feb_17_g}}%</td>
                <td style="text-align: right;">{{values1.Mar_17_g}}%</td>
              </tr>
            </tbody>
          </table>
        </scrollable-table>
      </div>
</div>

<div class="modal fade" id="addFilters" role="dialog">
  <div class="modal-dialog" style="width: 1000px;">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select Filters</h4>
      </div>
      <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class='filetr_cat'>
            <div class='row'>
              <div class='col-lg-6'>
                <div class='form-group'>
                  <label>Hospital</label>
                  <select class='form-control' ng-model='hospital_id' ng-change='categories_by()'>
                    <option value=''>All</option>
                    <option value='Hospital _ 1'>Hospital _ 1</option>
                    <option value='Hospital _ 2'>Hospital _ 2</option>
                    <option value='Hospital _ 3'>Hospital _ 3</option>
                  </select>
                </div>
              </div>
              <div class='col-lg-6'>
                <div class='form-group'>
                  <label>Department</label>
                  <select class='form-control' ng-model='department_id' ng-change='categories_by()'>
                    <option value=''>All</option>
                    <option value='Cardiology'>Cardiology</option>
                    <option value='Orthopaedic Surgery'>Orthopaedic Surgery</option>
                    <option value='Cosmetic & Plastic Surgery'>Cosmetic & Plastic Surgery</option>
                    <option value='General Medicine'>General Medicine</option>
                    <option value='Nephrology'>Nephrology</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click='categories_by()'>Filter</button>
          <button type="submit" class="btn btn-default" ng-click='resetDropDown()'>Clear Filters</button>
      </div>
    </div>
  </div>      
</div>