<div ng-controller="OpTabController">

  <!-- <ul class="nav nav-pills nav-fill container-fluid" style="background-color: #e6e6e6">
      <li  id="tab1" ng-class='current_tab==1?"active":""' ng-click='$state.go("app.pred.operations.volumes")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;" ><b>Volume</b></a>
      </li>
      <li id="tab2" ng-class='current_tab==2?"active":""' ng-click='$state.go("app.pred.operations.bed_occup")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Occupancy</b></a>
      </li>
      <li id="tab3" ng-class='current_tab==3?"active":""' ng-click='$state.go("app.pred.operations.avg_stay_len")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Average length of stay</b></a>
      </li>
  </ul> -->
</div>


<!-- <script type="text/javascript">
$(document).ready(function(){
$("#tab1").addClass('active');
  $('#tab2').on('click',function(){
    $('#tab1').removeClass('active');
    $('#tab3').removeClass('active');
    $(this).addClass('active');
  });
  $('#tab3').on('click',function(){
    $('#tab1').removeClass('active');
    $('#tab2').removeClass('active');
    $(this).addClass('active');
  });
  $('#tab1').on('click',function(){
    $('#tab2').removeClass('active');
    $('#tab3').removeClass('active');
    $(this).addClass('active');
  });
});
</script> -->
