<div ng-controller="OpTabController">

  <ul class="nav nav-pills nav-fill container-fluid" style="background-color: #e6e6e6">
      <!-- <li  id="tab1" ng-class='current_tab==1?"active":""' ng-click='$state.go("app.pred.other_costs.rental")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Rental Cost</b></a>
      </li>
      <li  id="tab2" ng-class='current_tab==2?"active":""' ng-click='$state.go("app.pred.other_costs.other_cost")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Other Hospital Operations Cost</b></a>
      </li>
      <li  ng-class='current_tab==3?"active":""' id="tab3" ng-click='$state.go("app.pred.other_costs.corporate")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Corporate Cost</b></a>
      </li> -->
  </ul>
</div>
