<div ng-controller="OpTabController">

  <!-- <ul class="nav nav-pills nav-fill container-fluid" style="background-color: #e6e6e6">
      <!- <li  id="tab1" ng-class='current_tab==1?"active":""' ng-click='$state.go("app.pred.revenue_analysis.revenue")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Revenue</b></a>
      </li>
      <!- <li  id="tab2" ng-class='current_tab==2?"active":""' ng-click='$state.go("app.pred.revenue_analysis.arop")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>AROP and ARIP</b></a>
      </li>
      <li id="tab3" ng-class='current_tab==3?"active":""' ng-click='$state.go("app.pred.revenue_analysis.arpob")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>ARPOB</b></a>
      </li>
      <li  id="tab4" ng-class='current_tab==4?"active":""' ng-click='$state.go("app.pred.revenue_analysis.discounts")' class="nav-item text-center">
        <a class="nav-link" style="font-size: small;"><b>Discounts</b></a>
      </li> -->
  <!-- </ul> -->
</div>
